@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 1146px;
    margin: 0 auto;
}

.wrapper::after{
    
    // content: '';
    // width: 100%;
    // height: 100%;
    //  background-image: url('./img/bgimg.png');
    // position: absolute;
    // top: 0;
    // left: 0;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
    .nav-one{
        display: flex;
        align-items: center;
        

        h3{
            margin-left: 10px;
            align-items: center;
            font-weight: 600;
            margin-top: 10px;
        }
    }

    &-row{
        
        padding-left: 150px;
        a{
            position: relative;
            color: #000;
            margin-left: 30px;
            font-weight: 600;
        }

        a::before{
            content:"" ;
            position: absolute;      
            width: 100%;
            height: 2px;
            background: #19BCE4;
            right: 0;
            transition: transform .5s ease;
            transform: scaleX(0);
            transform-origin:left ;
            bottom: -5px;
            
        }
        
        a:hover::before{
            transform: scale(1);
        }
    }


    &-btn{
        
        width: 90px;
        height: 32px;

        background: #19BCE4;
        border: none;
        border-radius: 7px;
        color: #fff;
        font-weight: 600;

        
    // }
    // &-btn{
    //     content: "";
    //     transform: scale(1.1,1.1);
    //     transition: .4s;
    // }



}

.main{
    position: absoute;
    width: 100%;
    padding-bottom: 100px;
    .main-im{
            width: 100%;
            position: absolute;
            width: 100%;
            height: 700px;
            background: #000;
            opacity: 1;
            img{
                width: 100%;
                height: 700px;
                opacity: .3;
                
            }

        }

        &-txt{
            
        width: 100%;
        height:60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 60px;
            color: #fff;
            margin-bottom: 30px;
        }


        p{
            width: 50%;
            text-align: center;
            color: #fff;
            font-size: 17px;

        }
        }
    &-card{
        width: 100%;
        height: 118px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 0px 40px;
        

        .card1,
        .card2,
        .card3{
            
            width: 260px;
            height: 70px;   
            border: 1px solid rgb(156, 155, 155);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
        }
        h4{
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        h5{
            font-size: 20px;
        }

        .card-btn{
            position: relative;
            width: 260px;
            height: 70px;
            background: #19BCE4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
        }
    }
    
}

.header{

    width: 100%;
    margin-top: 150px;
    display: flex;
    margin-bottom: 100px;
    &-one{

        width: 50%;

    }

    .im{
        position: relative;
        top:-100px ;
        left: 310px;
    }

    &-row{
        width: 50%;
        h3{
            font-weight: normal;
            margin-bottom: 30px;
        }

        h1{
            font-size: 40px;
            font-weight: 900;
            margin-bottom: 30px;
        }

        p{
            width: 80%;
            font-size: 18px;
            margin-bottom: 35px;
        }
        .card{
            display: flex;

            .card1,
            .card2{
                h1{
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 600;
                }

                p{
                    font-size: 16px;
                    margin-top: -10px;
                }
            }
        }

        
    }

    &-btn{
        width: 170px;
        height: 40px;
        background: #19BCE4;
        color: #fff;
        border:none;
        font-size: 16px;
        font-weight: normal;
        border-radius: 5px;
    }
}

.cantent{
    width: 100%;
    height: 100%;
    margin-bottom: 150px;

    &-txt{
        font-size: 24px;
        margin-bottom: 50px;
    }
    &-sec{
        display: flex;
        justify-content: space-between;


        .sec-one{
            width: 48%;
        }

        .sec-row{
            width: 50%;

            .card1,
            .card2,
            .card3,
            .card4{
                width: 98%;
                height: 115px;
                display: flex;
                border: 1px solid rgb(179, 176, 176);
                padding: 0px 20px;
                margin: 10px 20px;
                align-items: center;

                &-txt{
                    h3{
                        margin-bottom: 10px;
                    }
                    margin-left: 20px;
                }
            }
        }
    }
}

.showcase{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    &-txt{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;

        h1{
            font-size: 40px;
            margin-bottom: 15px;
        }
    }

    &-card{
        display: flex;


        .card1,
        .card2,
        .card3{
            margin-right: 20px;

            .bg{
                width: 180px;
                top: -120px;
                left: 25%;
                height: 70px;
                backdrop-filter: blur(15px);
                position: relative;
                text-align: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                font-weight: normal;
                h3{
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }

            .ima{
                margin-top: -44px;
            }
        }

        .card1{


            .bg{
                top:-190px;
            }
        }

        
    }
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 150px;
    &-one{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;

        h1{
            font-size: 45px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            margin-bottom: 30px;
        }
    }

    &-btn{
        width: 170px;
        height: 50px;
        background: #19BCE4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border: none;
        border-radius: 5px;
        i{
            font-size: 30px;
        }
    }

    &-row{
        width: 35%;
    }
}

.camment{
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
    &-txt{
        text-align: center;
        margin-bottom: 60px;

        h1{
            font-size: 40px;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
        }
    }
    &-card{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        text-align: center;
        .card1,
        .card2,
        .card3{
            width: 315px;
            height: 320px;
            font-size: 17px;

            img{
                margin-bottom: 10px;
            }

            h3{
                margin-bottom: 10px;
            }
        }
    }
}

.search{
    width: 100%;
    height: 250px;
    background: #19BCE4;
    border-radius: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;

    h1{
        font-size: 37px;
        color: #fff;
        margin-bottom: 30px;
    }

    input{
        width: 60%;
        position: relative;
        height: 50px;
        left: 55px;
        border-radius: 5px;
        border: none;
        padding: 20px;
        outline: none;
    }
    
            .s-btn{
                position: relative;
                width: 100px; 
                height: 35px;
                left: -60px;
                border-radius: 5px;
                border: none;
                background: #19BCE4;
                color: #fff;
            }
}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
        .card1{
        
        .cardd1{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            h3{
                font-weight: 600;
                margin-left: 10px;
            }
            
            &-icon{
                margin-top: 20px;
                i{
                width: 30px;
                height: 30px;
                font-size: 25px;
                align-items: center;
                }
            }
        }

        p{
            width: 330px;
        }
    }
    .card2,
    .card3,
    .card4,
    .card5{
        h2{
            
            margin-bottom: 30px;
        }

        h4{
            margin-bottom: 10px;
            font-weight: normal;
        }

        .cardd5-icon,
        .cardd5-icon1,
        .cardd5-icon2{
            margin-bottom: 20px;
            display: flex;
            font-size: 13px;
            align-items: center;
            i,
            img{
                margin-right: 5px;
                
            }
        }
    }
}